@import url(http://fonts.googleapis.com/css?family=PT+Mono&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext);

html, body, a, input, textarea, select{
	font-family: 'PT Sans', Tahoma, Arial, Verdana, Georgia, sans-serif;
}
html, body{
	height: 100%;
}
img{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
}
A:hover{
	text-decoration: none;
}

form{
	margin: 0;
	padding: 0;
}

.i-clear{
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 1px;
	overflow: hidden;
}

.i-clearfix:before, .i-clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
.i-clearfix:after{
	clear: both;
}
*+html .i-clearfix{
	zoom: 1;
}

input[type="image"], input[type="button"], label{ cursor: pointer; }
table{ width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; }

.checkbox{
	position: relative;
	top: 2px;
}
* html .checkbox{
	top: 1px;
}
*+html .checkbox{
	top: 1px;
}

@media not all and (-webkit-min-device-pixel-ratio){
	.checkbox{
		top: 0;
	}
}

/*
	Памятка по использованию селекторов browserCSSdetector.js:
		Селекторы ОСи:
			.win - Windows
			.linux - Linux
			.mac - MacOS

		Селекторы браузеров:
			.ie - все версии ИЕ
			.ie8 - ИЕ 8.х
			.ie7 - ИЕ 7.x
			.ie6 - ИЕ 6.x
			.ie5 - ИЕ 5.x
			.gecko - все версии фаерфокса, и остальные гекко-браузеры
			.ff2 - фаерфокс 2
			.ff3 - фаерфокс 3
			.opera - все версии оперы
			.opera8 - опера 8.x
			.opera9 - опера 9.x
			.konqueror - konqueror
			.safari - сафари

		Приоритеты на примере ФФ3:
		1	.win.ff3 #id{background: #aaa}
		2	.win.gecko #id{background: #f00}
		3	.ff3 #id{background:#333}
		4	.gecko #id{background:#00f}
		5	.win #id{background: #ff0}
 */

/*---*/

.pa{position: absolute !important;}
.pr{position: relative !important;}
.ps{position: static !important;}

.oh{overflow: hidden !important;}
.ov{overflow: visible !important;}

.dn{display: none !important;}
.db{display: block !important;}
.dib{display: inline-block; *display: inline;vertical-align: top;zoom: 1;}

.fn{float: none !important;}
.fr{float: right !important;}
.fl{float: left !important;}

.wa{width: auto !important;}

.m0{margin: 0 !important;}
.mt0{margin-top: 0 !important;}
.mr0{margin-right: 0 !important;}
.mb0{margin-bottom: 0 !important;}
.ml0{margin-left: 0 !important;}

.p0{padding: 0 !important;}
.pt0{padding-top: 0 !important;}
.pr0{padding-right: 0 !important;}
.pb0{padding-bottom: 0 !important;}
.pl0{padding-left: 0 !important;}

.fs12{font-size: 12px !important;}
.fs13{font-size: 13px !important;}
.fs14{font-size: 14px !important;}
.fs16{font-size: 16px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs24{font-size: 24px !important;}

.tar{text-align: right !important;}
.tac{text-align: center !important;}

.tdn{text-decoration: none !important;}
.tdn:hover{text-decoration: underline !important;}

.ttu{text-transform: uppercase !important;}

.vat{vertical-align: top !important;}

.wsn{white-space: nowrap !important;}

.cp{cursor: pointer;}

.b0{border: 0 !important;}
.bt0{border-top: 0 !important;}
.br0{border-right: 0 !important;}
.bb0{border-bottom: 0 !important;}
.bl0{border-left: 0 !important;}

.bbd{text-decoration: none !important; border-bottom: 1px dashed;}
.bbd:hover{text-decoration: none !important; border-bottom: 0;}

.bbdo{text-decoration: none !important; border-bottom: 1px dotted;}
.bbdo:hover{text-decoration: none !important; border-bottom: 0;}

.bgn{background: none !important;}

.cb{clear: both !important;}


/*---*/

/*
behavior: url(PIE.htc);
*/


body{
	background: #182334;
}

.pagewrap{
	position: relative;
	min-height: 100%;
}

.bg1{
	background: url(../images/bg1.png) center top no-repeat;
}
.bg2{
	background: url(../images/bg2.png) center top no-repeat;
}
.bg3{
	background: url(../images/bg3.png) center top no-repeat;
}
.bg4{
	background: url(../images/bg4.png) center top no-repeat;
}
.bg5{
	background: url(../images/bg5.png) center top no-repeat;
}
.bg6{
	background: url(../images/bg6.png) center top no-repeat;
}

/*--- header ---*/
.header{
	position: relative;
	padding: 470px 0 0 0;
}
.header__inn{
	width: 940px;
	margin: 0 auto;
}

.header__top{
	text-align: right;
	margin: 0 0 36px 0;
}

.logo{
	font-size: 64px;
	font-family: 'PT Mono';
	text-decoration: none;
	color: #FFF;
}

/*--- header navigation ---*/
.header__nav{
	clear: both;
	margin: 0 0 50px 0;
}
.header__nav__ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header__nav__ul__li{
	float: left;
	margin: 0 47px 0 0;
}
.header__nav__ul__li.last,
.header__nav__ul__li:last-child{
	margin: 0;
}
.header__nav__ul__li__a{
	display: block;
	float: left;
	font-size: 25px;
	font-family: 'PT Mono';
	text-decoration: none;
	color: #fff;
}
.header__nav__ul__li__a.cur,
.header__nav__ul__li__a:hover{
	text-decoration: underline;
}

/*--- footer ---*/
.footer{
	clear: both;
	background: #3e4656;
	position: relative;
	margin-top: -240px;
	height: 240px;
}
.footer__inn{
	width: 940px;
	margin: 0 auto;
}

.footer__top{
	background: #8393b2;
}
.footer__top__l{
	overflow: hidden;
	zoom: 1;
	font-size: 16px;
	line-height: 40px;
	color: #182334;
}

.footer__top__r{
	float: right;
	width: 380px;
	padding: 7px 0 0 0;
}
.footer__top__r .txt{
	display: block;
	float: left;
	width: 210px;
	height: 26px;
	padding: 0 18px 0 42px;
	border: 0;
	font-size: 16px;
	color: #182334;
	background: #FFF url(../images/footer__top__r.png) 12px center no-repeat;
}
.footer__top__r a{
	display: block;
	float: left;
	width: 110px;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #3e4656;
}

.footer__copyright{
	float: right;
	padding: 107px 0 0 0;
	font-size: 12px;
	text-align: right;
	color: #FFF;
}
.footer__copyright img{
	margin: 0 0 15px 5px;
}


.footer__contacts{
	overflow: hidden;
	zoom: 1;
	padding: 26px 0 0 0;
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
.footer__contacts a{
	color: #FFF;
}
.footer__contacts h3{
	margin: 0 0 16px 0;
	font-size: 24px;
	font-family: 'PT Mono';
	font-weight: normal;
	color: #FFF;
}
.footer__contacts__bl{
	float: left;
	margin: 0 45px 20px 0;
}

.footer__contacts__bl2{
	clear: both;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.sidebar{
	width: 240px;
	float: left;
	margin: 0 80px 0 0;
}


.sotial{
	margin: 27px 0 18px 0;
}
.sotial a{
	display: block;
	float: left;
	width: 82px;
	height: 30px;
	padding: 0 0 0 38px;
	margin: 0 0 9px 0;
	font-size: 16px;
	line-height: 30px;
	text-decoration: none;
	color: #FFF;
	background: url(../images/footer__copyright1.png) left top no-repeat;
	background-size: 30px 30px;
}
.sotial .sotial2{
	background: url(../images/footer__copyright2.png) left top no-repeat;
}
.sotial .sotial3{
	background: url(../images/footer__copyright3.png) left top no-repeat;
}
.sotial .sotial4{
	background: url(../images/footer__copyright4.png) left top no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
	.sotial .sotial1{
		background-image: url(../images/footer__copyright1@2x.png);
	}
	.sotial .sotial2{
		background-image: url(../images/footer__copyright2@2x.png);
	}
	.sotial .sotial3{
		background-image: url(../images/footer__copyright3@2x.png);
	}
	.sotial .sotial4{
		background-image: url(../images/footer__copyright4@2x.png);
	}
}

/************************************************************************************
CONTENT
*************************************************************************************/
.center{
	width: 940px;
	margin: 0 auto;
	padding-bottom: 290px;
}



.content{
	float: left;
	width: 620px;
}

.afisha{
}

.afisha__item{
	margin: 0 0 17px 0;
	font-size: 18px;
	color: #FFF;
}
.afisha__item strong{
	font-size: 30px;
	font-weight: normal;
}
.afisha__item em{
	font-size: 30px;
}
.afisha__item a{
	color: #FFF;
}
.afisha__item .btn{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	margin: 8px 0 0 0;
	padding: 0 12px;
	font-size: 16px;
	line-height: 26px;
	text-decoration: none;
	color: #FFF;
	background: #8393b2;
}
.afisha__item .btn:hover{
	background: #62768E;
}


.paging{
	margin: 16px 0 0 0;
}
.paging a{
	font-size: 16px;
	color: #FFF;
}


.album{
}

.album__t{
	margin: 0 0 19px 0;
}
.album__l{
	float: left;
	margin: 0 20px 0 0;
}
.album__r{
	overflow: hidden;
	zoom: 1;
	font-size: 17px;
	line-height: 24px;
	color: #FFF;
}

.album__btns{
	margin: 0 0 16px 0;
}
.album__btns img{
	margin: 0 21px 0 0;
}

.album__text{
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
}
.album__text h2{
	margin: 0 0 2px 0;
	font-size: 24px;
	font-weight: normal;
	color: #FFF;

}

.albums{
	margin: 0 0 0 -16px;
}
.albums__item{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	width: 193px;
	margin: 0 0 40px 16px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}
.albums__item:hover{
	text-decoration: underline;
}
.albums__item em{
	font-size: 18px;
}
.albums__item img{
	margin: 0 0 9px 0;
}

.band{
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
}
.band__item{
	overflow: hidden;
	zoom: 1;
	margin: 0 0 45px 0;
}
.band__item img{
	float: left;
	margin: 0 19px 0 0;
}
.band__item strong{
	font-size: 30px;
	font-weight: normal;
}



.concert{
	margin: 25px 0 0 0;
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
}
.concert a{
	color: #FFF;
}


.news__one{
	margin: 0 0 25px 0;
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
}
.news__one a{
	color: #FFF;
}
.news__one h2{
	margin: 0 0 0px 0;
	font-size: 30px;
	font-weight: normal;
	color: #FFF;
}
.news__one h2 a{
	text-decoration: none;
	color: #FFF;
}
.news__one h2 a:hover{
	text-decoration: underline;
}
.news__one h2 span{
	font-size: 14px;
}
.news__one .more{
	display: none;
}
.news__one.open .more{
	display: block;
}

.sots__ico{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	margin: 5px 0 0 0;
}






.video{
	margin: 0 0 0 -16px;
}
.video__item{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	width: 300px;
	margin: 0 0 13px 16px;
	font-size: 21px;
	text-decoration: none;
	color: #FFF;
}
.video__item:hover{
	text-decoration: underline;
}
.video__item img{
	margin: 0 0 9px 0;
}




.photo{
	margin: 0 0 0 -16px;
}
.photo__item{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	width: 300px;
	margin: 0 0 35px 15px;
	font-size: 21px;
	text-decoration: none;
	color: #FFF;
}
.photo__item.cur,
.photo__item:hover{
	text-decoration: underline;
}
.photo__item img{
	margin: 0 0 9px 0;
}
.photo__item2{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	width: 140px;
	margin: 0 0 20px 16px;
}
.photo__row__h{
	display: none;
}

